body {font-family: 'Open Sans', sans-serfi}
.header-link {font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #f00f0f;}
.header > a {background-color: aqua;}